@use '../abstracts' as *;

.container {
	max-width: 1440px;
	width: 100%;
	margin-inline: auto;
	overflow-x: clip;

	// responsive
	@include lg {
	}

	&__inner {
		padding-inline: 8rem;

		// responsive
		@include lg {
			padding-inline: 4rem;
		}

		@include sm {
			padding-inline: 1.6rem;
		}
	}
}
