@use '../../abstracts' as *;

.tracking {
	@include center-vertical;
	flex-direction: column;
	padding-block: 8rem;
	text-align: center;

	@include md {
		padding-block: 4.8rem;
	}

	&__caption {
		color: $Indigo400;
	}

	&__headline {
		padding-top: 0.8rem;
	}

	&__paragraph {
		padding-block: 3.2rem;
		width: min(700px, 100%);
		text-align: center;
		color: $blueGray300;
	}

	&__actions {
		@include center-vertical(1.6rem);
		padding-bottom: 8rem;
		width: 100%;
		justify-content: center;

		@include lg {
			padding-bottom: 6rem;
		}

		@include md {
			padding-bottom: 4.8rem;
		}

		@include sm {
			gap: 1.2rem;
		}

		&--button {
			width: 25.6rem;
			padding: 1.6rem;
			justify-content: center;

			@include sm {
				width: auto;
				flex: 1;
				padding: 1.6rem 1.2rem;
			}

			span {
				@include clampText(1);
			}
		}
	}

	&__image {
		animation-name: rotate;
		animation-duration: 1s;

		animation-timeline: view();
		animation-range-start: 50vh;
		animation-range-end: calc(exit + 50vh);
	}
}
