$container-width: 1440px;
$primary-font: 'Roboto', sans-serif;

// colors
$amber400: #FBBF24;

$black: #000000;
$white: #FFFFFF;
$yellow400: #FACC15;

$blueGray100: #F1F5F9;
$blueGray200: #E2E8F0;
$blueGray300: #CBD5E1;
$blueGray400: #94A3B8;
$blueGray600: #475569;
$blueGray700: #334155;
$blueGray800: #1E293B;
$blueGray900: #0F172A;

$blue100: #DBEAFE;
$blue200: #BFDBFE;
$blue300: #93C5FD;
$blue400: #60A5FA;

$green500: #22C55E;

$Indigo100: #E0E7FF;
$Indigo300: #A5B4FC;
$Indigo400: #818CF8;
$Indigo500: #6366F1;
$Indigo600: #4F46E5;
$Indigo800: #3730A3;
$Indigo900: #312E81;

$rose600: #E11D48;
